<div>
    <h2>Patients List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>
            <ul>
              <li *ngFor="let detail of patient.mySQLPatientDetails">{{ detail.detail }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>